{
  "aggregator": {
    #List of servers to which data is sent
    "servers": [ "192.168.1.151:4000", "192.168.1.152:4000", "192.168.1.153:4000" ],
    "timeout": 15,
  },
  "logfiles": [
    {
      "path": "/var/log/syslog"
      "type": "dynomite"
    },
    {
      "path": "/home/uname/logs/redis"
      "type": "redis"
    }
   ]
}